/* corousel customization */
.carousel-caption{
  bottom: 12rem;
}

.carousel-caption h2{
  font-size: 60px;
}

.header-shadow{
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.scrollspy-example-2 {
  position: relative;
  height: 350px;
  overflow: auto;
}