/* External Styles */

/* Embedding Font */
@font-face {
  font-family: 'AkkuratBold';
  src: url('../assets/fonts/Akkurat-Bold.ttf') format("truetype");
}

/* Reset Styles */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset Style Ends */

body {
  font-family: 'AkkuratBold', Arial;
}

main{
  clear: both;
  width: 76%;
  height: 100%;
  overflow: auto;
  margin: 70px auto 0;
  /* margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto; 
   */
}

/* Util css classes */
.text-bold{
  font-weight: bold;
}
.margin10{
  margin: 10px;
}
.text-center{
  text-align: center;
}
.clear-floats{
  clear: both;
}

/* Util css classes Ending */


h1, h2, h3, h4, h5, h6, footer {
  text-align: center;
  padding: 20px 0;
}

h1{
  color: navy;
  font-size: 34px;
  padding: 60px 0;
}

h2{
  color: #545454;
  font-size: 28px;
}

h3{
  font-size: 26px;
}
h4{
  font-size: 22px;
}

h5{
  font-size: 20px;
}

h6{
  font-size: 18px;
  padding: 10px 0;
}

/* Element Selector */
nav{
  color: #fff;
}

nav ul{
  display: block;
}

nav ul li{
  display: inline;
  padding: 10px;
}

nav ul li a{
  color: #545454;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

/* ID Selector */
#primaryMenu {
  float: right;
  margin: 20px;
  /* border-width: 1px;
  border-style: solid; 
  border-color:whitesmoke; */
}

/* Class Selector */
.para {
  font-size: 20px;
  line-height: 36px;
  padding: 12px 0;
}

#listerLogo{
  float: left;
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
}

.news, .join-us{
  width: 46%;
  float: left;
  height: 225px;
  position: relative;
}

.news{
  background-image:url('../assets/images/update1-bg.jpeg');
  margin-right:2%;
}

.join-us{
  background-image: url('../assets/images/update2-bg.jpeg');
  margin-left:2%;
}

.article-title, .article-excerpt{
  color: #fff;
  text-align: center;
}
.article-title{
  margin-top: 50px;
}

.article-excerpt{
  position: absolute;
  line-height: 26px;
  bottom: 20px;
  text-align: right;
  width: 96%;
  font-size: 22px;
}

.topMenu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 0 20px 3px #c5c4ca;
}

.c2a{
  background-image: url('../assets/images/contact_banner.jpeg');
  margin-top:50px;
  height: 210px;
}

.c2a h2{
  font-size: 34px;
  color: #fff;
  padding-top: 40px;
}
.c2a button{
  background-color: #007FFF;
  border: solid 1px #007FFF;
  padding: 10px 50px;
  font-size: 28px;
  color: #fff;
  border-radius: 39px;
  margin-top: 16px;
}

footer{
  width: calc(60% - 10px);
  padding: 10%;
  border: solid 5px red;
  margin: 10%;
}

/* Leadership related */
.dp-left, .dp-right{
  clear: both;
  height: 100%;
  overflow: auto;
  margin-top: 40px;
  padding: 20px;
  background-color: #007FFF;
}

.dp-left figure{
  float:left;
  width: 20%;
}

.dp-left p{
  float: left;
  width: calc(80% - 20px);
  padding: 70px 10px;
}

.dp-right figure{
  float: right;
  width:20%;
}

.dp-right p{
  float: right;
  width: calc(80% - 20px);
  padding: 70px 10px;
}


/* Contact PAge related */
#contactForm{
  margin: 0 auto;
  width: 45%;
}

#contactForm label{
  width: 120px;
  display: inline-block;
  padding: 10px;
}

#contactForm input, #contactForm select, #contactForm textarea{
  padding: 10px 12px;
  width: 200px;
  border: solid 1px #545454;
  font-family: 'AkkuratBold', Arial;
}

/* Attribute Selector */
#contactForm input[type='color']{
  padding: 0;
  width: 50px;
}

#contactForm input[type='radio'], #contactForm input[type='checkbox']{
  width:auto;
}

#contactForm .radio-label{
  width: 40px;
  padding-right: 12px;
}

#contactForm input[type='file']{
  border: none;
  font-size: 18px;
}

#contactForm .agreement{
  width: 400px;
}

/* TODO: Learn about pseudo selector 
-- using that, add mouseover effect for the button, 
-- have focus,active styling for inputs 
*/

/* TODO: have table 
highlight odd and even rows in different bg color with mouseover effect also*/


/* Responsive Web Design */
/* Using CSS3 Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body{
    background-color: lightcoral;
  }
  #primaryMenu{
    display: none;
  }
  .hamburgerIcon{
    display: block;
  }
  main{
    width: 90%;
  }
  .news, .join-us{
    display: block;
    clear: both;
    float: none;
    width: 100%;
  }

  .join-us{
    margin-left: 0;
  }
  .article-title{
    font-size: 20px;
  }

  .article-excerpt{
    font-size: 17px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body{
    background-color: yellow;
  }
  #primaryMenu{
    display: none;
  }
  .hamburgerIcon{
    display: block;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body{
    background-color: lightgreen;
  }
  #primaryMenu{
    display: block;
  }
  .hamburgerIcon{
    display: none;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body{
    background-color: lightpink;
  }
  #primaryMenu{
    display: block;
  }
  .hamburgerIcon{
    display: none;
  }
}

/* Extra large devices (large laptops, desktops and TVs, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
    background-color: lightskyblue;
  }
  #primaryMenu{
    display: block;
  }
  .hamburgerIcon{
    display: none;
  }
}